.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 12;
    color:white ;
    background-color: black;
    padding: 1rem 0;
    top: 0;
}


h1{
    font-size: 3rem;
}

.searchBar__searchBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBar__searchBox__input{
    padding: 0.5rem 1rem;
}

.searchBar__searchBox__button{
    color: white;
    background: transparent;
    text-align: center;
    padding: 1rem;
}