*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    scrollbar-gutter: none;

}
::-webkit-scrollbar{
    display: none;
}

:root{
    --transition: 400ms;
}


.container{
    margin: 0 5rem;
}